{% extends 'base.html' %}

{% load mathfilters %}

{% block title %}
    {{ title }} | {{ block.super }}
{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <h2 class="text-center"><i class="fa fa-user"></i> {{ object.full_name }} CV.</h2>
            <br>
            <div class="col-sm-6">
                <br>
                <p class="lead"><b>Full Name : </b>{{ object.full_name }}</p>
                <p class="lead"><b>First Name : </b>{{ object.first_name }}</p>
                <p class="lead"><b>Middle Name : </b>{{ object.middle_name }}</p>
                <p class="lead"><b>Last Name : </b>{{ object.last_name }}</p>
                <p class="lead"><b>Age : </b>{{ object.age }}</p>
                <p class="lead"><b>National Identifier : </b>{{ object.national_identifier }}</p>
                <p class="lead"><b>Gender : </b>{{ object.gender }}</p>
                <p class="lead"><b>Date Of Birth : </b>{{ object.date_of_birth }}</p>
                <p class="lead"><b>Place Of Birth : </b>{{ object.place_of_birth }}</p>
                <p class="lead"><b>Position : </b>{{ object.position }}</p>
                <p class="lead"><b>Earning Description  : </b>{{ object.earning_description | linebreaks }}</p>
            </div>
            <div class="col-sm-6">
                <br>
                <p class="lead"><b>Job : </b>{{ object.job }}</p>
                <p class="lead"><b>Country : </b>{{ object.country }}</p>
                <p class="lead"><b>Nationality : </b>{{ object.nationality }}</p>
                <p class="lead"><b>Marital Status : </b>{{ object.marital_status }}</p>
                <p class="lead"><b>Joined In : </b>{{ object.added | timesince}} ago.</p>
                <p class="lead"><b>profile update date : </b>{{ object.updated | timesince}} ago.</p>
                <p class="lead"><b>Main Salary : </b>{{ object.salary }}</p>
                <p class="lead"><b>Earning : </b>{{ object.earning }}</p>
                <p class="lead"><b>Deduction : </b>{{ object.deduction }}</p>
                <p class="lead"><b>Net Salary : </b>{{ object.salary |add:object.earning |sub:object.deduction }}</p>
                <p class="lead"><b>Deduction Description : </b>{{ object.deduction_description | linebreaks }}</p>
            </div>
        </div>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
{% endblock %}